---
import Layout from '~/layouts/Layout.astro'
import { Button } from '~/components/ui/button'
---

<Layout>
  <h1 class="text-3xl font-medium underline">Hello World</h1>
  <Button>Click me</Button>
</Layout>
