---
import Link from '~/components/Link.astro'
---

<footer class="py-8 text-sm text-muted-foreground text-center">
  <p>
    <Link
      href="https://creativecommons.org/licenses/by-sa/4.0/"
      external
      class="font-light text-foreground/80"
    >
      CC BY-SA 4.0
    </Link> 2025-PRESENT © Hegyi Áron Ferenc
  </p>
</footer>
