---
import { getImage } from 'astro:assets'
import Navbar from '~/components/Navbar.astro'
import Footer from '~/components/Footer.astro'
import '@fontsource-variable/inter'
import bg from '~/assets/bg.png'

const optimizedBg = await getImage({
  src: bg,
  format: 'webp',
  width: 1080,
  quality: 50,
})
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Rettend</title>
  </head>
  <body class="dark font-sans flex flex-col h-dvh">
    <svg style="display: none;">
      <filter id="pixelate">
        <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 0" result="r"
        ></feColorMatrix>
        <feColorMatrix in="SourceGraphic" type="matrix" values="0 0 0 0 0  0 1 0 0 0  0 0 0 0 0  0 0 0 1 0" result="g"
        ></feColorMatrix>
        <feColorMatrix in="SourceGraphic" type="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 1 0 0  0 0 0 1 0" result="b"
        ></feColorMatrix>
        <feOffset in="r" dx="5" dy="0" result="r-offset"></feOffset>
        <feOffset in="b" dx="-5" dy="0" result="b-offset"></feOffset>
        <feBlend in="r-offset" in2="g" mode="screen" result="rg"></feBlend>
        <feBlend in="rg" in2="b-offset" mode="screen"></feBlend>
      </filter>
    </svg>
    <div class="fixed inset-0 -z-10 bg-cover bg-top opacity-15" style={`background-image: url(${optimizedBg.src})`}>
    </div>
    <div class="flex-grow scroll-smooth scrollbar-gutter-stable overflow-y-auto flex flex-col pt-10 md:pt-0">
      <Navbar />
      <div class="flex-grow">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
